html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial;
  /*color: #ffffff;*/
}

h1 {
  font-size: 62px;
}

p,
a {
  font-size: 0.75rem;
}

img {
  padding-left: 30px;
  height: 350px;
  width: 550px;
}


